<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.15.0" targetFramework="net48" />
  <package id="Krypton.Toolkit" version="6.2111.312" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="96.0.4664.4500" targetFramework="net48" />
</packages>